# Entornos virtuales
venv/
.env/
*.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de base de datos
*.sqlite3

# Archivos de configuración de IDEs/editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y dumps
*.log
*.pot
*.pyc

# Archivos estáticos compilados (opcional)
staticfiles/
static_root/
media/

# Archivos Excel u otros documentos temporales
*.xlsx
*.xls

