{% extends "base.html" %}
{% block title %}Métodos de Pago{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Métodos de Pago Disponibles</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item">1. Pago en ventanilla del Banco de la Nación</li>
        <li class="list-group-item">2. Pago con Yape / Plin (Número autorizado del instituto)</li>
        <li class="list-group-item">3. Transferencia bancaria (Cuenta del Instituto)</li>
        <li class="list-group-item">4. Pago presencial en tesorería</li>
    </ul>
    <div class="text-center mt-4">
        <a href="{% url 'pagos_index' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>
{% endblock %}
